*,
*::after,
*::before {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(177, 233, 145);
}

.slider__body{
    background-color: aqua;
    padding: 2vw;
    border-radius: 0.5vw;
}

.slider__title{
    display: flex;
}


.navigation {
    position: relative;
    max-width: 20vw;
    display: flex;
    justify-content: center;
}

.navigation-btn {
    width: 1rem;
    height: 1rem;
    border: 2px solid #de6a23;
    background: #de6a23;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: 1s;
    caret-color: transparent;
}

.navigation-btn:not(:last-child) {
    margin-right: 0.5vw;
}

.navigation-btn:checked {
    background:rgb(177, 233, 145);
    border: 0.5rem solid #d1b19c;
}

.navigation-btn:hover{
    background: #23c2de;
}


.slider__response{
    display: flex;
    justify-content: space-between;
    margin-top: 2vw;
}


.slider {
    width: 42rem;
    height: 31.25rem;
    border-radius: 0.5vw;
    overflow: hidden;
}

.imgs_slides {
    width: 500%;
    height: 31.25rem;
    display: flex;
    object-fit: scale-down;
}


.imgs_slides input {
    display: none;
}

.slide {
    width: 20%;
    transition: 2s;
}

.slide img {
    max-width: 50rem;
    height: 31.25rem;
}

.slider__title_form input {
    display: none;
}

.slider__title{
    border: 2px solid #de6a23;
    width: 9rem;
    height: 1.5rem;
    border-radius: 0.5vw;
    padding-left: 0.3rem;
    /* overflow: hidden; */
    
}

.slider__title_form{
    width: 500%;
    display: flex;
    flex-direction: column;
}

.slider__title_form> p{
    position: relative;
}

#radio1:checked~.first {
    margin-left: 0;
}

#radio2:checked~.first {
    margin-left: -20%;
}

#radio3:checked~.first {
    margin-left: -40%;
}

#radio4:checked~.first {
    margin-left: -60%;
}

.imgs_slides >#radio5:checked~.first {
    margin-left: -80%;
}

.title_1{
    margin-top:0px;
}

#radio3:checked~.h2{
    margin-top: -54px;
    color: blue; 
}




/* 
#title1:checked~.title_1 {
    margin-top: 0;
}
#title2:checked~.title_1 {
    margin-top: -18px;
}
#title3:checked~.title_1 {
    margin-top: -36px;
}
 #title4:checked~.title_1 {
    margin-top: -54px;
}
 #title5:checked~.title_1 {
    margin-top: -72px;
} */
