*,
*::after,
*::before {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(177, 233, 145);
}

h1{
    font-size: medium;
}

.slider__body{
    margin: 0 auto;
    background-color: aqua;
    padding: 2vw;
    margin: 0 1vw;
    border-radius: 0.5vw;
}

.slider__title{
    display: flex;
}


.navigation {
    position: relative;
    max-width: 20vw;
    display: flex;
    justify-content: center;
}

.navigation-btn {
    padding: 0.5vw;
    cursor: pointer;
}

.wrap__nav{
    width: 0.8vw;
    height: 0.8vw;
    border: 0.2vw solid #de6a23;
    background: #de6a23;
    border-radius: 0.5vw;
    cursor: pointer;
    transition: 1s;
    caret-color: transparent;
}

.wrap__nav:not(:last-child) {
    margin-right: 0.5vw;
}

.wrap__nav:focus {
    background:rgb(177, 233, 145);
    border: 0.2vw solid #d1b19c;
}

.wrap__nav:hover{
    background: #23c2de;
}


.slider__response{
    display: flex;
    justify-content: space-between;
    margin-top: 2vw;
}


.slider {
    max-width: 32vw;
    max-height: 24vw;
    border-radius: 0.5vw;
    overflow: hidden;
}

.imgs_slides {
    width: 500%;
    max-height: 24vw;
    display: flex;
    object-fit: scale-down;
}


.imgs_slides input {
    display: none;
}

.slide {
    width: 20%;
    transition: 2s;
}

.slide img {
    max-width: 34vw;
    height: 24vw;
}

.slider__title_form input {
    display: none;
}

.slider__title{
    border: 0.2vw solid #de6a23;
    width: 9vw;
    height: 1.1vw;
    border-radius: 0.1vw;
    padding-left: 0.2vw;
    /* overflow: hidden; */
    
}

.slider__title_form{
    width: 500%;
    display: flex;
    flex-direction: column;
}

.slider__title_form> p{
    /* position: relative; */
    margin-top: -0.2vw;
}


#radio1:checked~.first {
    margin-left: 0;
}

#radio2:checked~.first {
    margin-left: -20%;
}

#radio3:checked~.slider__body .title_12{
    color: blue; 
}

#radio3:checked~.first {
    margin-left: -40%;
}

#radio4:checked~.first {
    margin-left: -60%;
}

#radio5:checked~.first {
    margin-left: -80%;
}


#radio4:checked ~ .slider__response .title_12{
    transform: translateY(200%);
  }


/* 
#title1:checked~.title_1 {
    margin-top: 0;
}
#title2:checked~.title_1 {
    margin-top: -18px;
}
#title3:checked~.title_1 {
    margin-top: -36px;
}
 #title4:checked~.title_1 {
    margin-top: -54px;
}
 #title5:checked~.title_1 {
    margin-top: -72px;
} */


@media screen and (max-width: 720px) {
.slider__response{
    position: relative;
    display: flex ;
    flex-direction: column-reverse;
    align-items: center;
    margin-top: 2vw;
}
h1{
    font-size: 0.5rem;
}

.slide img {
    max-width: 68vw;
    height: 48vw;
}
.imgs_slides {
    max-height: 48vw;
}
.slider {
    max-width: 64vw;
    max-height: 48vw;

}
}